.input-select-group {
  display: flex;
  padding: 4px 0px;
}

.input-select-group .ant-select {
  width: 150px;
  padding-left: 4px;
}

.invert-direction {
  direction: rtl;
}

.ant-menu-horizontal .ant-menu-submenu-title {
  padding: 0 10px;
}