/* ANT style overrides */
.ant-menu-horizontal .ant-menu-submenu-title {
  padding: 0 10px;
}

.ant-timeline-item-head-custom {
  background-color: transparent;
}

.flex-column .ant-card-cover {
  flex-grow: 1;
}

/* Custom styles */
.input-select-group {
  display: flex;
  padding: 4px 0px;
}

.input-select-group .ant-select {
  width: 150px;
  padding-left: 4px;
}

.business-list-item > *{
  width: 100%;
  padding: 12px;
}

.business-list-item > *:hover{
  background: #e6f7ff;
}

.clickable {
  cursor: pointer;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-align {
  display: flex;
  align-items: center;
}

.baseline-align {
  display: flex;
  align-items: baseline;
}

.obiman-x-large-font {
  font-family: Megrim;
  font-size: x-large;
}